*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fff;
  background: rgb(0,200,0);
}

.material-icons {
  font-size: inherit;
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 30px;
  font-size: 1.2em;
  line-height: 30px;
  text-align: center;
}

.drag-bar {
  width: calc(100% - 86px);
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-app-region: drag;
  z-index: 100;
}

.window-controls {
  width: 86px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
}

.control {
  cursor: pointer;
}

.info-bar {
  display: block;
  padding: 0 5px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 1;
  font-size: 20px;
  line-height: 27px;
}

#dimensions {}

#reset {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

#reset i {
  position: relative;
  top: 4px;
}
